<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
  <div>
    <h4 class="mb-3 mb-md-0"> صفحة الطلبات</h4>

  </div>
  <div class="d-flex align-items-center flex-wrap text-nowrap">

    <button type="button" class="btn btn-primary btn-icon-text mb-2 mb-md-0 sett" (click)="openLgModal()">
      <i class="btn-icon-prepend" data-feather="plus" appFeatherIcon></i>
      <h6 class="card-title text-white mt-1 "> إضافة طلب </h6>

    </button>
  </div>
</div>









<div class="grid grid-cols-1 gap-x-2 gap-y-2 sm:grid-cols-4 mt-2">

  <div class="mb-3">

    <label class="form-label">التاريخ من </label>

    <form class="d-flex">
      <div class="w-full">
        <div class="input-group">
          <input class="form-control" placeholder="dd-mm-yyyy" (ngModelChange)="onchangeFromDate($event)" name="dp"
            [(ngModel)]="fromDate" ngbDatepicker #d="ngbDatepicker">
          <button class="input-group-text" type="button" (click)="d.toggle()">
            <i class="feather icon-calendar icon-md text-muted"></i>
          </button>
        </div>

      </div>
    </form>
  </div>
  <div class="ms-2">

    <label class="form-label">التاريخ إلى </label>

    <form class="d-flex">
      <div class="w-full">
        <div class="input-group">
          <input class="form-control" placeholder="dd-mm-yyyy" (ngModelChange)="onchangeToDate($event)" name="dp"
            [(ngModel)]="toDate" ngbDatepicker #t="ngbDatepicker">
          <button class="input-group-text" type="button" (click)="t.toggle()">
            <i class="feather icon-calendar icon-md text-muted"></i>
          </button>
        </div>

      </div>
    </form>
  </div>
  <div>
    <label class="form-label"> حالة الطلب </label>
    <nz-form-item>
      <nz-form-control nzErrorTip="هذا الحقل إجباري">
        <select class="form-select" id="exampleFormControlSelect1" [(ngModel)]="status"
          (ngModelChange)="onchangestatus($event)" [ngModelOptions]="{standalone: true}">
          <option selected>الكل</option>
          <option *ngFor="let status of statusData ;let i=index;">{{status}}</option>

        </select>
      </nz-form-control>
    </nz-form-item>
  </div>
  <div>
    <label class="form-label"> بحث </label>
    <form class="search-form">
      <div class="input-group">
        <div class="input-group-text">
          <i class="feather icon-search icon-md cursor-pointer"></i>
        </div>
        <input type="text" class="form-control" id="searchForm" [(ngModel)]="search"
          [ngModelOptions]="{standalone: true}" placeholder="Search here...">
      </div>
    </form>
  </div>
</div>

<div class="my-2 flow-root ">
  <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
      <div class="overflow-hidden sm:rounded-lg border">

        <app-order-table [columns]="tableColumns" [data]="orderData.itemsList" [pageSize]="pageSize"
          [currentPage]="currentPage">
        </app-order-table>

      </div>
    </div>
  </div>
</div>

<ngb-pagination [collectionSize]="70" [(page)]="currentPage" aria-label="Default pagination"></ngb-pagination>

<ng-template #lgModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel"> إضافة طلب</h5>
    <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
  </div>
  <div class="modal-body">
 
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">إغلاق</button>
    <button type="button" class="btn btn-primary" (click)="openLgModal()">
      <span>إضافة</span>

    </button>

  </div>
</ng-template>

<ng-template #reasonModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel"> إضافة طلب</h5>
    <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
  </div>
  <div class="modal-body">

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">سبب الرفض :</label>
      <textarea class="form-control" [(ngModel)]="rejectReason" id="exampleFormControlTextarea1" rows="5"></textarea>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">إغلاق</button>
    <button type="button" class="btn btn-primary" (click)="sendRejections()">
      <span>رفض</span>

    </button>

  </div>
</ng-template>



<div class="card">
  <div class="card-body">

    <aw-wizard #wizardForm>

      <aw-wizard-step stepTitle="بيانات الطلب">
        <form [formGroup]="orderInfoForm">

          <div class="grid grid-cols-2 gap-x-2 gap-y-2 sm:grid-cols-2 mt-2">
            <div>
              <label class="form-label">جهة الطلب </label>
              <select class="form-select  mt-0" formControlName="orderDstinations"
                [ngClass]="{'is-invalid': isOrderInfoFormSubmitted && OrderInfoFormfunc.orderDstinations.errors}">

                <option *ngFor="let item of destinationsData.identifierValues">
                  {{ item.value }}
                </option>

              </select>
              <div *ngIf="isOrderInfoFormSubmitted && OrderInfoFormfunc.orderDstinations.errors?.required"
                class="invalid-feedback">
                Required
              </div>
            </div>
            <div>

              <label class="form-label">التاريخ المتوقع للإرسال </label>


              
              <div class="w-full">
                <div class="input-group">
                  <input class="form-control" formControlName="ExpectedDate"  (click)="ExpectedDate.toggle()"
                    [ngClass]="{'is-invalid': isOrderInfoFormSubmitted && OrderInfoFormfunc.ExpectedDate.errors}"
                    ngbDatepicker #ExpectedDate="ngbDatepicker">
                  <button class="input-group-text" type="button" (click)="ExpectedDate.toggle()">
                    <i class="feather icon-calendar icon-md text-muted"></i>
                  </button>
                  <div *ngIf="isOrderInfoFormSubmitted && OrderInfoFormfunc.ExpectedDate.errors?.required"
                    class="invalid-feedback">
                    Required
                  </div>
                </div>

              </div>

            </div>

          </div>

          <div class="grid grid-cols-2 gap-x-2 gap-y-2 sm:grid-cols-2 mt-2">
            <div>
              <label class="form-label">الأولوية</label>
              <div class=" mt-0">
                <input type="text" class="form-control" formControlName="priority"
                  [ngClass]="{'is-invalid': isOrderInfoFormSubmitted && OrderInfoFormfunc.priority.errors}">
                <div *ngIf="isOrderInfoFormSubmitted && OrderInfoFormfunc.priority.errors?.required"
                  class="invalid-feedback">
                  Required
                </div>
              </div>
            </div>

            <div>
              <label class="form-label">الغرض من النقل </label>
              <div class=" mt-0">
                <input type="text" class="form-control" formControlName="PurposeOfTransportation"
                  [ngClass]="{'is-invalid': isOrderInfoFormSubmitted && OrderInfoFormfunc.PurposeOfTransportation.errors}">
                <div *ngIf="isOrderInfoFormSubmitted && OrderInfoFormfunc.PurposeOfTransportation.errors?.required"
                  class="invalid-feedback">
                  Required
                </div>
              </div>
            </div>
          </div>

          <div class="grid grid-cols-2 gap-x-2 gap-y-2 sm:grid-cols-2 mt-2">

            <div>
              <label class="form-label">الوجهة من </label>
              <nz-form-item>
                <nz-form-control nzErrorTip="هذا الحقل إجباري">


                  <select id="select" formControlName="DestinationFrom"  class="form-select  mt-0" 
                  [ngClass]="{'is-invalid': isOrderInfoFormSubmitted && OrderInfoFormfunc.DestinationFrom.errors}">
                    <option  [value]="1">
                      مسندم
                    </option>
                    <option  [value]="2">
                      الدقم
                    </option>
                    <option  [value]="3">
                      الفحل
                    </option>
                  </select>


                  <div *ngIf="isOrderInfoFormSubmitted && OrderInfoFormfunc.DestinationFrom.errors?.required"
                    class="invalid-feedback">
                    Required
                  </div>
                </nz-form-control>
              </nz-form-item>
            </div>

            <div>
              <label class="form-label">الوجهة إلى </label>
              <nz-form-item>



                <select id="select" formControlName="DestinationTo"  class="form-select  mt-0" 
                [ngClass]="{'is-invalid': isOrderInfoFormSubmitted && OrderInfoFormfunc.DestinationTo.errors}">
                  <option  [value]="1">
                    مسندم
                  </option>
                  <option  [value]="2">
                    الدقم
                  </option>
                  <option  [value]="3">
                    الفحل
                  </option>
                </select>

               

                <div *ngIf="isOrderInfoFormSubmitted && OrderInfoFormfunc.DestinationTo.errors?.required"
                  class="invalid-feedback">
                  Required
                </div>
              </nz-form-item>
            </div>

          </div>

          <div class="grid grid-cols-1 gap-x-2 gap-y-2 sm:grid-cols-1 mt-2">

            <div>
              <label class="form-label"> ملاحظات </label>
              <nz-form-item>
                <nz-form-control nzErrorTip="هذا الحقل إجباري">
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>

                </nz-form-control>
              </nz-form-item>
            </div>
          </div>

          <div class="d-flex justify-content-end mt-2">
            <button class="btn btn-primary" (click)="OrderInfoFormfuncSubmit()">Continue</button>
          </div>
        </form>
      </aw-wizard-step>

      <aw-wizard-step stepTitle="بيانات المرسل و المستلم">
        <form (ngSubmit)="form2Submit()" [formGroup]="SendeRecipientForm">

          <ngb-accordion [closeOthers]="false" activeIds="static-1">
            <ngb-panel id="static-1" title="بيانات المرسل">
              <ng-template ngbPanelContent>
                <div class="grid grid-cols-2 gap-x-2 gap-y-2 sm:grid-cols-2 mt-2">

                  <div>
                    <label class="form-label"> القسم المرسل </label>
                    <input type="text" class="form-control" formControlName="SenderDepartment"
                      [ngClass]="{'is-invalid': sendeRecipientFormSubmitted && sendeRecipientFormFunc.SenderDepartment.errors}">
                  </div>

                  <div>
                    <label class="form-label"> رقم هاتف المرسل</label>
                    <input type="number" class="form-control" formControlName="SenderMobileNumber"
                      [ngClass]="{'is-invalid': sendeRecipientFormSubmitted && sendeRecipientFormFunc.SenderMobileNumber.errors}">

                  </div>
                  <div>
                    <label class="form-label"> رقم نقال المرسل</label>
                    <input type="number" class="form-control" formControlName="SenderMobileNumber"
                      [ngClass]="{'is-invalid': sendeRecipientFormSubmitted && sendeRecipientFormFunc.SenderMobileNumber.errors}">

                  </div>
                  <div>
                    <label class="form-label"> الملاحظات</label>
                    <input type="number" class="form-control" formControlName="SenderNote"
                      [ngClass]="{'is-invalid': sendeRecipientFormSubmitted && sendeRecipientFormFunc.SenderNote.errors}">

                  </div>
                </div>
              </ng-template>
            </ngb-panel>
            <ngb-panel id="static-1" title="بيانات المستلم">
              <ng-template ngbPanelContent>
                <div class="grid grid-cols-2 gap-x-2 gap-y-2 sm:grid-cols-2 mt-2">

                  <div>
                    <label class="form-label"> القسم المستلم </label>
                    <input type="text" class="form-control" formControlName="RecipientDepartment"
                      [ngClass]="{'is-invalid': sendeRecipientFormSubmitted && sendeRecipientFormFunc.RecipientDepartment.errors}">
                  </div>

                  <div>
                    <label class="form-label"> رقم هاتف المستلم</label>
                    <input type="number" class="form-control" formControlName="RecipientMobileNumber"
                      [ngClass]="{'is-invalid': sendeRecipientFormSubmitted && sendeRecipientFormFunc.RecipientMobileNumber.errors}">

                  </div>
                  <div>
                    <label class="form-label"> رقم نقال المستلم</label>
                    <input type="number" class="form-control" formControlName="RecipientPhoneNumber"
                      [ngClass]="{'is-invalid': sendeRecipientFormSubmitted && sendeRecipientFormFunc.RecipientPhoneNumber.errors}">

                  </div>
                  <div>
                    <label class="form-label"> الملاحظات</label>
                    <input type="number" class="form-control" formControlName="recipientNote"
                      [ngClass]="{'is-invalid': sendeRecipientFormSubmitted && sendeRecipientFormFunc.recipientNote.errors}">

                  </div>
                </div>
              </ng-template>
            </ngb-panel>

          </ngb-accordion>

          <div class="d-flex justify-content-end mt-2">
            <button class="btn btn-secondary me-2" type="button" awPreviousStep>Back</button>
            <button class="btn btn-primary" type="submit">Continue</button>
          </div>
        </form>
      </aw-wizard-step>

      <aw-wizard-step stepTitle="بيانات الشحنة">
        <form (ngSubmit)="ShipmentFormfuncSubmit()" [formGroup]="ShipmentForm">

          <div class="grid grid-cols-1 gap-x-2 gap-y-2 sm:grid-cols-1 mt-2">
            <div>
              <label class="form-label">نوع الشحنة </label>
              <select id="select" formControlName="ShipmentType"   [(ngModel)]="ShipmentTypeValue" (ngModelChange)="onShipmentTypeChange()" class="form-select  mt-0" 
              [ngClass]="{'is-invalid': ShipmentFormFormSubmitted && ShipmentFormfunc.ShipmentType.errors}">
                <option *ngFor="let option of ShipmentTypeOptions" [value]="option.value">
                  {{ option.label }}
                </option>
              </select>

       
          
       
              <div *ngIf="ShipmentFormFormSubmitted && ShipmentFormfunc.ShipmentType.errors?.required"
                class="invalid-feedback">
                Required
              </div>
            </div>
        



          </div>


        <div class="grid grid-cols-2 gap-x-2 gap-y-2 sm:grid-cols-3 mt-2 justify-center">


          <div class="form-check form-switch" style="margin: auto 0;">
          
       
            <div>
              <label class="form-check-label" for="formSwitch1">الشحنة مع مركبة</label>
              <input type="checkbox" class="form-check-input" id="formSwitch1" formControlName="withVehicle">
  
            </div>
        
          </div>
        
          <div *ngIf="ShipmentForm.get('withVehicle')?.value">
            <label class="form-label" >رمز المركبة</label>
            <input type="number" class="form-control" formControlName="vehicleCode"
              [ngClass]="{'is-invalid': ShipmentFormFormSubmitted && ShipmentFormfunc.vehicleCode.errors}">

          </div>
          <div *ngIf="ShipmentForm.get('withVehicle')?.value">
            <label class="form-label" >رقم المركبة</label>
            <input type="number" class="form-control" formControlName="vehicleNumber"
              [ngClass]="{'is-invalid': ShipmentFormFormSubmitted && ShipmentFormfunc.vehicleNumber.errors}">

          </div>
        </div>
          <div class="grid grid-cols-2 gap-x-2 gap-y-2 sm:grid-cols-3 mt-2">



          <div  *ngIf="ShipmentTypeValue != 1">
            <label class="form-label">  الطول</label>
            <input type="text" class="form-control" formControlName="Length"
              [ngClass]="{'is-invalid': ShipmentFormFormSubmitted && ShipmentFormfunc.Length.errors}">

          </div>
          <div  *ngIf="ShipmentTypeValue != 1">
            <label class="form-label">  العرض</label>
            <input type="text" class="form-control" formControlName="width"
              [ngClass]="{'is-invalid': ShipmentFormFormSubmitted && ShipmentFormfunc.width.errors}">

          </div>
          <div  *ngIf="ShipmentTypeValue != 1">
            <label class="form-label">  الارتفاع</label>
            <input type="text" class="form-control" formControlName="height"
              [ngClass]="{'is-invalid': ShipmentFormFormSubmitted && ShipmentFormfunc.height.errors}">

          </div>
          <div  *ngIf="ShipmentTypeValue != 1">
            <label class="form-label">  الوزن</label>
            <input type="text" class="form-control" formControlName="weight"
              [ngClass]="{'is-invalid': ShipmentFormFormSubmitted && ShipmentFormfunc.weight.errors}">

          </div>
          <div>
            <label class="form-label">  العدد</label>
            <input type="text" class="form-control" formControlName="Qty"
              [ngClass]="{'is-invalid': ShipmentFormFormSubmitted && ShipmentFormfunc.Qty.errors}">

          </div>

          <div *ngIf="ShipmentTypeValue == 3">
            <label class="form-label">  نوع الذخيرة</label>
            <input type="text" class="form-control" formControlName="AmmunitionType"
              [ngClass]="{'is-invalid': ShipmentFormFormSubmitted && ShipmentFormfunc.AmmunitionType.errors}">

          </div>
       

      
          <div *ngIf="ShipmentTypeValue == 1"> 
            <label class="form-label">   الرتبة</label>
            <input type="text" class="form-control" formControlName="Rank"
              [ngClass]="{'is-invalid': ShipmentFormFormSubmitted && ShipmentFormfunc.Rank.errors}">

          </div>
          <div *ngIf="ShipmentTypeValue == 1">
            <label class="form-label">  الرقم العسكري </label>
            <input type="text" class="form-control" formControlName="militaryNumber"
              [ngClass]="{'is-invalid': ShipmentFormFormSubmitted && ShipmentFormfunc.militaryNumber.errors}">

          </div>

          <div *ngIf="ShipmentTypeValue == 1">
            <label class="form-label"> الاسماء</label>
            <textarea class="form-control"  formControlName="militaryName"
              [ngClass]="{'is-invalid': ShipmentFormFormSubmitted && ShipmentFormfunc.militaryName.errors}" rows="5"></textarea>
          </div>
      

        </div>

       

        <div class="d-flex justify-content-end mt-2 my-4">
          <button class="btn btn-primary"  (click)="addShipment()">إضافة شحنة</button>
        </div>

        
        

        <app-order-table [columns]="Shipment" [data]="orders" [pageSize]="pageSize"
        [currentPage]="currentPage">
      </app-order-table>

          <div class="d-flex justify-content-end mt-2">
            <button class="btn btn-primary" type="submit">Continue</button>
          </div>
        </form>
      </aw-wizard-step>

      <aw-wizard-step stepTitle="عرض البيانات">
        <div class="text-center">
      
        </div>
        <div class="d-flex justify-content-center mt-2">
          <button class="btn btn-secondary me-2" type="button" awPreviousStep>Back</button>
          <button class="btn btn-success" type="button" (click)="finishFunction()">Finish</button>
        </div>
      </aw-wizard-step>

    </aw-wizard>
  </div>
</div>






<!-- <div [formGroup]="shipmentForm"> -->
  <!-- <label for="type" class="px-0 py-2 text-base font-semibold text-gray-900 text-right ">نوع الشحنة:</label>
  <select id="type" formControlName="type" (change)="onShipmentTypeChange()"  class="form-select  mt-0" >
    <option *ngFor="let shipmentType of shipmentTypes" [value]="shipmentType.id">{{ shipmentType.type }}</option>
  </select>

  
  <div  class="text-sm font-light text-red-700" *ngIf="shipmentForm.get('type')!.invalid && (shipmentForm.get('type')!.touched || submitted)">
    نوع الشحنة حقل إجباري .
  </div>
  
  <div *ngIf="shipmentForm.get('type')!.value" >
    <div [formGroup]="otherFields"  class="grid grid-cols-2 gap-x-2 gap-y-2 sm:grid-cols-3 mt-2 justify-center">
      <div *ngFor="let field of selectedShipmentTypeFields">
        <label  [for]="field.field">{{ field.label }}</label>
        <input [id]="field.field" [formControlName]="field.field" placeholder="{{ field.label }}"  class="form-control mt-0" >
        <div class="text-sm font-light text-red-700" *ngIf="otherFields.get(field.field)!.invalid && (otherFields.get(field.field)!.touched || submitted)">
          {{ field.label }} حقل إجباري.
        </div>
      </div>
    </div>
  </div> -->

  <!-- <label for="typeId">نوع الشحنة:</label>
  <select id="typeId" formControlName="typeId" (change)="onShipmentTypeChange()">
    <option *ngFor="let shipmentType of shipmentTypes" [value]="shipmentType.id">{{ shipmentType.type }}</option>
  </select>
  <div *ngIf="shipmentForm.get('typeId')!.invalid && (shipmentForm.get('typeId')!.touched || submitted)">
    نوع الشحنة is required.
  </div> -->
  
  <!-- <div *ngIf="shipmentForm.get('typeId')!.value">
    <div [formGroup]="otherFields">
      <div *ngFor="let field of selectedShipmentTypeFields">
        <label [for]="field.field">{{ field.label }}</label>
        <input [id]="field.field" [formControlName]="field.field" placeholder="{{ field.label }}">
        <div *ngIf="otherFields.get(field.field)!.invalid && (otherFields.get(field.field)!.touched || submitted)">
          {{ field.label }} is required.
        </div>
      </div>
    </div>
  </div> -->

<!-- 
<div *ngFor="let shipmentType of (shipments$ | async) | keyvalue">
  <h5 class="px-2">{{ shipmentType.key }}</h5>

  <div class="mt-2 flow-root">
    <div class="overflow-x-auto">
      <div class="inline-block min-w-full py-1 align-middle px-2">
        <div class="overflow-hidden ring-1 ring-black ring-opacity-5 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="py-1.5 px-3 text-right text-sm font-semibold text-gray-900"
                    *ngFor="let field of getFieldsForType(+shipmentType.key)">
                  {{ field.label }}
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              <tr *ngFor="let shipment of shipmentType.value">
                <td class="whitespace-nowrap py-1.5 px-3 text-sm font-light text-gray-900"
                    *ngFor="let field of getFieldsForType(+shipmentType.key)">
                  {{ shipment.otherFields[field.field] }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


  <button type="button" class="btn btn-primary btn-icon-text my-2"  (click)="addShipment()">
    <i class="feather icon-check-square btn-icon-prepend"></i>
  إضافة شحنة
  </button>

</div>







<div *ngFor="let shipmentType of (shipments$ | async) | keyvalue">
  <h5 class="px-2">{{ shipmentType.key }}</h5>

  <div class="mt-2 flow-root">
    <div class="overflow-x-auto">
      <div class="inline-block min-w-full py-1 align-middle px-2">
        <div class="overflow-hidden ring-1 ring-black ring-opacity-5 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="py-1.5 px-3 text-right text-sm font-semibold text-gray-900"
                    *ngFor="let field of getFieldsForType(+shipmentType.key)">
                  {{ field.label }}
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              <tr *ngFor="let shipment of shipmentType.value">
                <td class="whitespace-nowrap py-1.5 px-3 text-sm font-light text-gray-900"
                    *ngFor="let field of getFieldsForType(+shipmentType.key)">
                  {{ shipment.otherFields[field.field] }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div> -->





<div [formGroup]="shipmentForm">


  <label for="typeId" class="px-0 py-2 text-base font-semibold text-gray-900 text-right mb-0 pb-0">نوع الشحنة:</label>
  <select id="typeId" formControlName="typeId" (change)="onShipmentTypeChange()"  class="form-select  mt-0 mb-2">
    <option *ngFor="let shipmentType of shipmentTypes" [value]="shipmentType.id">{{ shipmentType.type }}</option>
  </select>
  <div  class="text-sm font-light text-red-700" *ngIf="shipmentForm.get('typeId')!.invalid && (shipmentForm.get('typeId')!.touched || submitted)">
    نوع الشحنة is required.
  </div>
  



 


  
  <div *ngIf="shipmentForm.get('typeId')!.value">
    <div [formGroup]="otherFields"  class="grid grid-cols-2 gap-x-2 gap-y-2 sm:grid-cols-3 mt-2 justify-center">
      <div *ngFor="let field of selectedShipmentTypeFields">
        <label [for]="field.field">{{ field.label }}</label>
        <input [id]="field.field" [formControlName]="field.field" placeholder="{{ field.label }}" class="form-control mt-0" >
        <div   class="text-sm font-light text-red-700" *ngIf="otherFields.get(field.field)?.invalid && (otherFields.get(field.field)?.touched || submitted)">
          {{ field.label }} is required.
        </div>
      </div>
    </div>
  </div>



  <div class="grid grid-cols-2 gap-x-2 gap-y-2 sm:grid-cols-3 mt-2 justify-center border-t py-2">
    <div class="form-check form-switch" style="margin: auto 0;">
      <div>
        <label class="form-check-label" for="formSwitch1">الشحنة مع مركبة</label>
        <input type="checkbox" class="form-check-input" id="formSwitch1" formControlName="withVehicle">
      </div>
    </div>
    <div *ngIf="shipmentForm.get('withVehicle')?.value">
      <label class="form-label">رمز المركبة</label>
      <input type="number" class="form-control" formControlName="vehicleCode"
        [ngClass]="{'is-invalid': ShipmentFormFormSubmitted && shipmentForm.get('vehicleCode')?.errors}">
    </div>
    <div *ngIf="shipmentForm.get('withVehicle')?.value">
      <label class="form-label">رقم المركبة</label>
      <input type="number" class="form-control" formControlName="vehicleNumber"
        [ngClass]="{'is-invalid': ShipmentFormFormSubmitted && shipmentForm.get('vehicleNumber')?.errors}">
    </div>
  </div>
  



  <button type="button" class="btn btn-primary btn-icon-text my-2"  (click)="addShipment()">
    <i class="feather icon-check-square btn-icon-prepend"></i>
  إضافة شحنة
  </button>


 
</div>

<div *ngFor="let shipmentType of (shipments$ | async) | keyvalue , let t = index">
  <h5 class="px-2">{{ shipmentType.value[t].type }}</h5>

  <div class="mt-2 flow-root">
    <div class="overflow-x-auto">
      <div class="inline-block min-w-full py-1 align-middle px-2">
        <div class="overflow-hidden ring-1 ring-black ring-opacity-5 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="py-1.5 px-3 text-right text-sm font-semibold text-gray-900"
                    *ngFor="let field of getFieldsForType(+shipmentType.key)">
                  {{ field.label }}
                </th>
                <th scope="col" class="py-1.5 px-3 text-right text-sm font-semibold text-gray-900">الشحنة مع مركبة</th>
                <th scope="col" class="py-1.5 px-3 text-right text-sm font-semibold text-gray-900">رمز المركبة</th>
                <th scope="col" class="py-1.5 px-3 text-right text-sm font-semibold text-gray-900">رقم المركبة</th>
            
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              <tr *ngFor="let shipment of shipmentType.value">
                <td class="whitespace-nowrap py-1.5 px-3 text-sm font-light text-gray-900"
                    *ngFor="let field of getFieldsForType(+shipmentType.key)">
                  {{ shipment.otherFields[field.field] }}
                </td>
                <td class="whitespace-nowrap py-1.5 px-3 text-sm font-light text-gray-900">
                  {{ shipment.withVehicle ? 'نعم' : 'لا' }}
                </td>
                <td class="whitespace-nowrap py-1.5 px-3 text-sm font-light text-gray-900">
                  {{ shipment.vehicleCode }}
                </td>
                <td class="whitespace-nowrap py-1.5 px-3 text-sm font-light text-gray-900">
                  {{ shipment.vehicleNumber }}
                </td>

                
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>