<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
  <div>
    <h4 class="mb-3 mb-md-0"> صفحة الطلبات</h4>

  </div>
  <div class="d-flex align-items-center flex-wrap text-nowrap">

    <button type="button" class="btn btn-primary btn-icon-text mb-2 mb-md-0 sett" (click)="openLgModal()">
      <i class="btn-icon-prepend" data-feather="plus" appFeatherIcon></i>
      <h6 class="card-title text-white mt-1 "> إضافة طلب </h6>

    </button>
  </div>
</div>

<div class="grid grid-cols-1 gap-x-2 gap-y-2 sm:grid-cols-4 mt-2">

  <div class="mb-3">

    <label class="form-label">التاريخ من </label>

    <form class="d-flex">
      <div class="w-full">
        <div class="input-group">
          <input class="form-control" placeholder="dd-mm-yyyy" (ngModelChange)="onchangeFromDate($event)" name="dp"
            [(ngModel)]="fromDate" ngbDatepicker #d="ngbDatepicker">
          <button class="input-group-text" type="button" (click)="d.toggle()">
            <i class="feather icon-calendar icon-md text-muted"></i>
          </button>
        </div>

      </div>
    </form>
  </div>
  <div class="ms-2">

    <label class="form-label">التاريخ إلى </label>

    <form class="d-flex">
      <div class="w-full">
        <div class="input-group">
          <input class="form-control" placeholder="dd-mm-yyyy" (ngModelChange)="onchangeToDate($event)" name="dp"
            [(ngModel)]="toDate" ngbDatepicker #t="ngbDatepicker">
          <button class="input-group-text" type="button" (click)="t.toggle()">
            <i class="feather icon-calendar icon-md text-muted"></i>
          </button>
        </div>

      </div>
    </form>
  </div>
  <div>
    <label class="form-label"> حالة الطلب </label>
    <nz-form-item>
      <nz-form-control nzErrorTip="هذا الحقل إجباري">

        <select class="form-select" id="exampleFormControlSelect1" [(ngModel)]="status"
          (ngModelChange)="onchangestatus($event)" [ngModelOptions]="{standalone: true}">
          <option [value]="100">
            طلب جديد
          </option>
          <option [value]="101">
            تم إختياره
          </option>
          <option [value]="102">
            تم رفضه
          </option>
          <option [value]="103">
            قيد الإجراء
          </option>
          <option [value]="104">
            محذوف
          </option>
          <option [value]="105">
            تم إغلاقه
          </option>
          <option [value]="106">
            مسودة
          </option>
        </select>
      </nz-form-control>
    </nz-form-item>
  </div>
  <div>
    <label class="form-label"> بحث </label>
    <form class="search-form">
      <div class="input-group">
        <div class="input-group-text">
          <i class="feather icon-search icon-md cursor-pointer"></i>
        </div>
        <input type="text" class="form-control" id="searchForm" [(ngModel)]="search"   (ngModelChange)="onSearch($event)"
          [ngModelOptions]="{standalone: true}" placeholder="Search here...">
      </div>
    </form>
  </div>
</div>

<div class="my-2 flow-root ">
  <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
      <div class="overflow-hidden sm:rounded-lg border">

        <app-order-table [columns]="tableColumns" [data]="orderData" [pageSize]="pageSize"
          [currentPage]="currentPage">
        </app-order-table>

      </div>
    </div>
  </div>
</div>

<ngb-pagination [collectionSize]="70" [(page)]="currentPage" aria-label="Default pagination"></ngb-pagination>

<ng-template #lgModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">إضافة طلب</h5>
    <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <app-order-wizard></app-order-wizard>
  </div>
</ng-template>

<ng-template #reasonModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel"> إضافة طلب</h5>
    <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
  </div>
  <div class="modal-body">

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">سبب الرفض :</label>
      <textarea class="form-control" [(ngModel)]="rejectReason" id="exampleFormControlTextarea1" rows="5"></textarea>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close()">إغلاق</button>
    <button type="button" class="btn btn-primary" (click)="sendRejections()">
      <span>رفض</span>

    </button>

  </div>
</ng-template>