<div class="row w-100 mx-0 auth-page">
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-4 pe-md-0">
          <div class="auth-side-wrapper" [ngStyle]="{ 'background-image': 'url(assets/images/login.jpeg)' }">

          </div>
        </div>
        <div class="col-md-8 ps-md-0">
          <div class="auth-form-wrapper px-4 py-5">
            <a routerLink="." class="frontend-logo d-block mb-2">تسجيل مستخدم جديد</a>
         
   
            <form class="forms-sample" [formGroup]="RegisterForm">
              <div class="mb-3">
                <label for="exampleInputUsername1" class="form-label">البريد الالكتروني:</label>
                <input type="text" class="form-control" formControlName="email">
              </div>
          
              <div>
                <button type="button" class="btn btn-primary me-2 mb-2 mb-md-0" (click)="onRegister()">إنشاء حساب</button>
                
              </div>
              <a routerLink="/auth/login" class="d-block mt-3 text-muted">لدي حساب مستخدم ، تسجيل الدخول؟</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>