<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <div>
        <!-- <h6 _ngcontent-qyb-c125="" class="card-title">إدارة مستخديم النظام</h6> -->
      
        
    </div>
    <div class="d-flex align-items-center flex-wrap text-nowrap">
     
      <button type="button" class="btn btn-primary btn-icon-text mb-2 mb-md-0 sett">
        <i class="btn-icon-prepend" data-feather="plus" appFeatherIcon></i>
     
        <h6 _ngcontent-qyb-c125="" class="card-title"  (click)="openLgModal(lgModal)">   إضافة مستخدم </h6>
      </button>
    </div>
  </div>
  <div class="table-responsive pt-3">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th >#</th>
          <th>اسم الموظف</th>
          <th>البريد الإلكتروني</th>
          <th>المهام</th>
          <th>الإجراء</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>أسماء الهنائي</td>
          <td>
            asma@test.com
          </td>
          
          <td><span class="badge bg-secondary">إداري</span></td>
          <td> 
            <i data-feather="edit-2" appFeatherIcon class="icon-sm me-2 text-primary "></i>
            <i data-feather="trash" appFeatherIcon class="icon-sm me-2 text-danger " (click)="deleteUser()"></i> 
            

          </td>
        </tr>
        <tr>
            <td>1</td>
            <td>أسماء الهنائي</td>
            <td>
              asma@test.com
            </td>
        
            <td><span class="badge bg-danger">مستخدم</span></td>
            <td>
                <i data-feather="edit-2" appFeatherIcon class="icon-sm me-2 text-primary "></i>
                <i data-feather="trash" appFeatherIcon class="icon-sm me-2 text-danger "></i> 
            </td>
          </tr>
       
      </tbody>
    </table>
  </div>

  <ng-template #lgModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">إضافة مستخدم جديد</h5>
      <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
    </div>
    <div class="modal-body">
       
        <div class="mb-3">
            <label for="exampleInputUsername1" class="form-label">إسم المستخدم</label>
            <ng-select [items]="simpleItems"
          [searchable]="false"
          [(ngModel)]="selectedSimpleItem">
        </ng-select>
          </div>
          <div class="mb-1">
            <label for="exampleInputUsername1" class="form-label">المهمة</label>
            <div class="mb-3">
              
                <div class="form-check form-check-inline">
                  <input type="checkbox" class="form-check-input" id="checkInline">
                  <label class="form-check-label" for="checkInline">
                   مدير
                  </label>


                </div>
           
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" id="checkInline">
                    <label class="form-check-label" for="checkInline">
                    مستخدم
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" id="checkInline">
                    <label class="form-check-label" for="checkInline">
                  معتمد
                    </label>
                  </div>
              </div>
          </div>

      


    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.close('by: close button')">إغلاق</button>
      <button type="button" class="btn btn-primary" (click)="modal.close('by: save button')">إضافة</button>
    </div>
  </ng-template>