<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink=".">الرئيسة</a></li>
        <li class="breadcrumb-item active" aria-current="page">الإعدادات</li>
    </ol>
</nav>


<div class="row">
    <div class="col-5 col-md-3  col-sm-12  md:pe-0 p-0">
        <ul ngbNav #verticalNav="ngbNav" class="nav-tabs nav-tabs-vertical" orientation="vertical">
            <li [ngbNavItem]="1"   *ngIf="Setting.role_Mangement" >
                <a ngbNavLink>إدارة الأدوار</a>
                <ng-template ngbNavContent>
                    <app-roles></app-roles>
                </ng-template>
            </li>
           
            <li [ngbNavItem]="2"   *ngIf="Setting.User_Mangement" >
                <a ngbNavLink>إدارة المستخدمين</a>
                <ng-template ngbNavContent>
                    <app-users></app-users>
                </ng-template>
            </li>
         

            <li [ngbNavItem]="3">
                <a ngbNavLink> معرفات النظام</a>
                <ng-template ngbNavContent>
<app-identifiers></app-identifiers>
                
                </ng-template>
            </li>

        </ul>
    </div>
    <div class="col-7 col-md-9 col-sm-12   md:ps-0 p-0">
        <div [ngbNavOutlet]="verticalNav" class="tab-content-vertical border p-3"></div>
    </div>
</div>