<div class="row w-100 mx-0 auth-page">
    <div class="col-md-8 col-xl-6 mx-auto">
      <div class="card">
        <div class="row">
          <div class="col-md-4 pe-md-0">
            <div class="auth-side-wrapper" [ngStyle]="{ 'background-image': 'url(assets/images/login.jpeg)' }">
  
            </div>
          </div>
          <div class="col-md-8 ps-md-0">
            <div class="auth-form-wrapper px-4 py-5">
              <a routerLink="." class="frontend-logo d-block mb-2">تعيين رمز الدخول</a>
           
            
                <form class="forms-sample" [formGroup]="form">
               
                <div class="mb-3">
                  <label  class="form-label">رمز الدخول</label>
                  <input type="password" class="form-control" (ngModelChange)="validateConfirmPassword()" id="password" formControlName="password">
                </div>
                <div>
                    <label  class="form-label">تأكيد رمز الدخول</label>
                    <input type="password" class="form-control"  id="confirmPassword" formControlName="confirmPassword">
                  </div>

                  <div  class="mb-1 " style="color: #dd2626;"
                  *ngIf="form.get('confirmPassword')?.hasError('confirm')">
         
                تحقق من تطابق رمز الدخول 
                </div>
              
                <div>
                  <button type="button" (click)="submitResetPassForm()" class="btn btn-primary me-2 mb-2 mb-md-0 mt-3"  >إنشاء رمز الدخول</button>
                
                </div>
                <a routerLink="/auth/login" class="d-block mt-3 text-muted">لدي حساب مستخدم ، تسجيل الدخول؟</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>